<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5721565384-ufesvglhpq617bm4jbbs1bo9h3ocd1sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5721565384-ufesvglhpq617bm4jbbs1bo9h3ocd1sq</string>
	<key>API_KEY</key>
	<string>AIzaSyAM-Z9O6uETPZqPcrccyp17MR-6P9sg50s</string>
	<key>GCM_SENDER_ID</key>
	<string>5721565384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeApp</string>
	<key>PROJECT_ID</key>
	<string>store-app-1c336</string>
	<key>STORAGE_BUCKET</key>
	<string>store-app-1c336.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5721565384:ios:0ac648034ecec0a0fa1dfd</string>
</dict>
</plist>